// app global css in SCSS form
@import './typography/typography.scss';

@font-face {
    font-family: customFont;
    src: url('./fonts//Lato-Regular.ttf');
}

@font-face {
    font-family: customBoldFont;
    src: url('./fonts/Lato-Bold.ttf');
}

* {
    font-family: 'customFont';
}

h1 {
    font-size: 2.8em;
    margin: 0;
}

h3 {
    font-size: 1.9em;
}

ul {
    font-size: 1.2em;
}
.my-font {
    font-family: 'customFont';
}

.my-bold-font {
    font-family: 'customBoldFont';
}